PRODUCT_BUNDLE_IDENTIFIER = app.driftline.Driftline
DRIFTLINE_WIDGET_BUNDLE_IDENTIFIER = app.driftline.Driftline.Widget
DRIFTLINE_APP_GROUP_IDENTIFIER =
DEVELOPMENT_TEAM =
CODE_SIGN_STYLE = Automatic
PROVISIONING_PROFILE_SPECIFIER =
